.App {
  transition: background-color 250ms ease-in-out;
  background-color: var(--color-bg-primary);
  height: fit-content;
  padding-bottom: 20rem;
}

.loginText {
  color: var(--color-brand);
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
