:root {
  --color-text-primary: #212227;
  --color-text-secondary: #666763;
  --color-text-tertiary: #fcf9f6;
  --color-text-brand: #93323e;

  --color-bg-primary: #fcf9f6;
  --color-bg-secondary: #f4f0e7;

  --color-border: #d0cdc9;

  --color-brand: #c82c46;
}

[data-theme="dark"] {
  --color-text-primary: #fcf9f6;
  --color-text-secondary: #a5a5a2;
  --color-text-tertiary: #fcf9f6;
  --color-text-brand: #93323e;

  --color-bg-primary: #212227;
  --color-bg-secondary: #333333;

  --color-border: #434343;

  --color-brand: #c82c46;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;

  margin: 0;
  padding: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
